/*********************************************************************************************************************
alright, here is ALL DA SHIT you need for the taskbar. plz don't touch it (besides the colors and the fonts ofc)
*********************************************************************************************************************/

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 55px;
    font-size: 45px;
    color: #97C9F5;
  /*  margin: 0 0 23px 0; */
    }

body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 25px;
  font-family: 'Nanum Gothic', sans-serif;


}


p {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 25px;
    line-height: 23px;

    margin-top: 40px;
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 90px;
    }


div {
  padding-top: 15px;
  padding-bottom: 15px;
}

.container {
  width: 80%;
  margin: 0 auto;
  font-family: 'Nanum Gothic', sans-serif;
}

header {
  background: #97C9F5;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}


nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 15px;

  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 150%;
}



  } /*final ending bracket*/
