/*********************************************************************************************************************
alright, here is ALL DA SHIT you need for the taskbar. you can edit most things (but not taskbar stuff)
*********************************************************************************************************************/

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 55px;
    font-size: 45px;
    color:#4A93D5;
  /*  margin: 0 0 23px 0; */
    }

h2 {
  font-family: 'Fjalla One', sans-serif;
  margin-left: 90px;
  color: #4A93D5;

}

h3 {
  font-family: 'Fjalla One', sans-serif;
  margin-left: 90px;
  color: #4A93D5;

}


body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;
  font-family: 'Nanum Gothic', sans-serif;
}


p {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
    line-height: 30px;

    margin-top: 20px;
    margin-bottom: 15px;
    margin-right: 150px;
    margin-left: 90px;
    }

ul {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;
  line-height: 30px;

  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 150px;
  margin-left: 90px;

  /* padding-top: 10px;  */
}

/* here the nonsense for the taskbar. Anything changed from this point onwards will affect the bar */

div {
  padding-top: 15px;
  padding-bottom: 15px;
}

.container {
  width: 80%;
  margin: 0 auto;
  font-family: 'Nanum Gothic', sans-serif;
}

header {
  background: #97C9F5;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}


nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 15px;

  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #4A93D5;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #4A93D5;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 150%;
}

.top {
  text-align: right;
}

.Information p{
  margin: 8px;
}

.Information a{
  color: black;
  text-decoration: none;
}

  } /*final ending bracket*/
